node_modules

# Output
.output
.vercel
/.svelte-kit
/build
.npmrc
/nginx
/static/models
static/models/
static/svg/
/static/svg
nginx/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
