.songlist {
  float:left;
  div {
    color:#f9f5f0;
    font-family:helvetica, arial, sans-serif;
    font-size:12px;
    font-weight:bold;
  }
}

.artistlist {
  float:right;
  div {
    color:#f0f0f0;
    font-family:helvetica, arial, sans-serif;
    font-size:10px;
    font-weight:bold;
  }
}